/* removes default margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 200%;
}
/* removes default margin and padding from everything */

/* universal selector */
:root {
    --black: #1E1E24;
    --white: #F7F7FF;
    --blue: #2274A5;
    --red: #A92335;
    --green: #588157;
    --yellow: #E3B505;
}

.App{
    height: 100vh;
    width: 100vw;
}

#root{
    justify-content: center;
    display: flex;
    flex-flow: column;
}

body, .App{
    background: var(--black);
    text-align: center;
}
/* universal selector */


/* utility classes */
.background-black {
    background-color: var(--black) !important;
}

.background-white {
    background-color: var(--white) !important;
}

.background-red {
    background-color: var(--red) !important;
}

.background-blue {
    background-color: var(--blue) !important;
}

.background-green {
    background-color: var(--green);
}

.background-yellow {
    background-color: var(--yellow);
}

.text-white {
    color: var(--white) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-black {
    color: var(--black) !important
}

.text-green {
    color: var(--green) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.font {
    font-family: 'Merriweather', serif;
}

.form-wrapper{
    max-width: fit-content;
    display: inline-flex;
    align-self: center;
}

.join-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* utility classes */

/* buttons */
#host, #join, #submit, #display, #hide, #banish-submit, #start-game, #cancel-game, #auth-button {
    border: none !important;
    font-family: 'Merriweather', serif;
    color: var(--white);
}
/* buttons */

/* navbar */
#navigation {
    justify-content: center;
}
.navbar-buttons{
    display: flex;
    flex-direction: row;
}

#navigation-img {
    margin: 15px;
}

.navbar{
    justify-content: center;
    display: flex;
    margin-bottom: 5vh;
}

.navbar img {
    max-height: 10vh;
    display: flex;
    justify-content: space-around;
}
/* navbar */

/* login hero */
#login-crown {
    max-height: 50px;
    max-width: 50vw;
}

.hero p a {
    color: var(--white);
}
/* login hero */

/* left column */
#homepage-buttons {
    margin-top: 20px !important;
}

#timer-label {
    font-size: 20px;
    margin-top: 0;
}
/* left column */


/* right column */
#right-column {
    padding: 2rem;
}

h3 {
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    margin-top: 20px;
}

#story, #game-instructions, #role-explanation, #core-roles {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#role-explanation {
    list-style: circle;
}

#banish {
    margin: 0 4% 4% 4%;
}

#king-question {
    font-size: 20px;
}

.card {
    margin: 5px;
}
/* right column */

/* footer style */
footer {
    font-size: 12px;
}
/* footer style */

/* wait list CSS */
#page {
    height: 100vh;
    padding-left: 0;
    margin: 0;
}

#container-game-code {
    margin: 0 auto;
}

#player-list {
    height: 60%;
}

#start-game {
    margin: 0 auto;
}

#game-info-pannel {
    height: 80vh;
}

#game-info-menu {
    border-bottom-style:solid;
    border-color: black;
    border-width: 1px;
}

.width {
    width: 100vw;
}
/* wait list CSS */

/* /join form */
.input {
    max-width: 60% !important;
}
/* /join form */



@media screen and (min-width: 390px) {
    #root{
        max-height: 100vh;
    }
    .App{
        max-height: 100vh;
    }
    .sections{
        display: flex;
        flex-direction: column;
    }
    #navigation {
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        z-index: 999;
    }

    #left-column {
        padding: 0.75rem;
    }

    #right-column {
        padding: 0.75rem;
        height: 100vh;
        overflow-wrap: normal;
    }

    #banish {
        margin: 0;
    }

} 

@media screen and (min-width: 768px) {
    /* applies to screens above 768px */
    .App{
        height: 100vh;
        width: 100vw;
    }
    #navigation {
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        z-index: 999;
    }

    #left-column {
        padding: 0.75rem;
    }

    #right-column {
        padding: 0.75rem;
        height: 78vh;
        overflow: scroll;
    }

    #banish {
        margin: 0;
    }
}


.game-code{
    font-size: xx-large;
    color: white;
    text-align: center;
    padding: 10px;
}

.checkbox{
    margin-right: 8px;
}

.active-players{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

.active-players h3{
    font-size: x-large;
}